.card{
  border: 1px solid #6666;
  border-radius: 15px;
}

.product {
  width: 100%;
}

.content {
  margin: 13px 0 0 8px;
  display: flex;
  flex-direction: column;
}

.titlehome {
  font-size: 14px;
  margin: 0;
}

.type {
  font-family: unset;
  font-size: 11px;
  margin: 0;
  font-style: italic;
}

.star {
  margin: 10px;
  margin-right: 40px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.load-star {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: default;
}

.star-back {
  position: absolute;
}

.star-hover {
  position: absolute;
  opacity: 0%;
}

.starred {
  position: absolute;
}

.star:hover .star-hover {
  opacity: 100%;
}


.offer {
  display: flex;
  align-items: center;
  gap: 3px;
  padding-top: 8px;
}

.value {
  font-size: 13px;
  margin: 0;
}

.money {
  width: 20px;
}

@media (min-width: 768px) {

  .title {
    font-size: 15px;
  }

  .type {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  .content {
    margin: 25px 0 0 8px;
  }

  .titlehome {
    font-size: 20px;
  }

  .type {
    font-size: 18px;
  }
}

@media (min-width: 1440px) {
  .card {
    width: 333px;
  }
}