.content-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: rgb(249, 109, 22);
    height: 30px;
  }
  
  .content-menu .lista {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
  }
  
  .lista li {
    font-weight: 500;
    font-size: 13px;
    color:#ddd;
  }

  a:-webkit-any-link{
      text-decoration: none;
      color: inherit;
  }

  @media(min-width: 1024px){
    .lista li{
        font-size: 15px;
    }
  }
  