.offer {
  padding: 5px 0 0 8px;
  display: flex;
  align-items: center;
  gap: 3px;
}

.value {
  font-size: 13px;
  margin: 0;
}

.money {
  width: 20px;
  height: auto;
}

@media (min-width: 768px) {
  .value {
    font-size: 15px;
  }
  .money {
    width: 22px;
  }
}

@media (min-width: 1024px) {
  .offer {
    padding: 18px 0 0 8px;
  }

  .value {
    font-size: 20px;
  }
  .money {
    width: 26px;
  }
}
