.search {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  margin-bottom: 20px;
  height: 95px;
}

.titlelist {
  margin-bottom: 10px;
  font-family: system-ui;
  font-weight: 200;
  font-size: 43px;
  margin: 0 0 0 20px;
}

@media (max-width: 1024px) {

  .titlelist {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
    .titlelist {
      font-size: 30px;
      margin: 0;
    }
  }