.liste {
  display: grid; 
  grid-template: auto / repeat(auto-fill, 300px);
  gap: 10px 10px; 
  justify-content: center;
}

.contentliste{
  display: flex;
  flex-direction: column;
}

.titlelist{
  margin-bottom: 10px;
  font-family: system-ui;
  font-weight: 200;
  font-size: 43px;
}

@media(min-width:1280px){
  .liste {
    grid-template-columns: repeat(4, 0fr);
  }
}