@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

a {
    font-weight: bold;
    color: #f24f00;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    border-bottom: 2px solid #ddd;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 2px;
    margin-left: 12px;
    font-size: 14px;
}

img{
    width:140px;
    height: auto;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px #ddd solid;
    width: 170px;
    height: 210px;
}

.picture{
    display: flex;
    align-self: center;
}

.content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 160px;
    align-self: center;

    &__menu{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        border: 1px solid;
    }
}

.pesquisa{
    align-self: center;
    margin-bottom: 15px;
    position: relative;
}

input{
    width: 300px;
    height: 30px;
    border-radius: 8px;
}

.lupa{
    width: 14px;
    position: absolute;
    right: 7px;
    top: 8px;
}

.grid{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 5px;
    margin-bottom: 20px;
}

h3{
    font-size: 12px;
}

p{
    font-size: 12px;
}

footer {
    font-size: 6px;
    border-top: 3px solid #ddd;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    color: #ffffff;
    background: #000;
}



.lista{
    display: flex;
    list-style-type: none;
    gap: 15px;
}

.carro{
    width: 30px;
}

.carrinho{
    display: flex;
    gap: 8px;
    align-items: center;
}