footer {
    position: absolute;
    height: 8vh; 
    background: #000;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
}

h1{
    font-size: 14px;
    font-weight: 100;
    color: #666;
}