.listWrapper {
    display: flex;
    flex-direction: column;
}

.favLabel {
    background-color: #000;
    font-weight: 400;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.productLabel {
    display: flex;
    justify-content: space-between;

    padding-top: 10px;
    margin-bottom: 10px;

    padding: 5px;
}

.f1 {
    font-size: 14px;
}

.stack {
    display: flex;
    flex-direction: column-reverse;
}

.mid {
    display: flex;
    align-items: center;
}

.checkw {
    width: 40px;
}

.listy {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}