.productContent {
    padding: 10px;
}

.productContent img {
    height: 70px;
    margin-right: 10px;
    width: auto;
}

.situationInfo {
    width:fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.productItem {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ddd;
    padding: 5px;
}

.productContentInfo {
    display: flex;
    width: 75%;
    
    margin-top: 10px;
    margin-bottom: 10px;
}

.productInfo {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.productPrice {
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.productPrice img {
    width: 15px;
    height: auto;
    margin: 0px  4px 0px 4px;
}

.side {
    display: flex;
    flex-direction: row;
}

.middle-h {
    align-items: center;
}

.middle-v {
    justify-items: center;
    height: 100%;
}

.f1 {
    font-size: 14px;
}

.checkw {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40px;
}

.cardHand {
    background-color: white;
    border-radius: 8px;
}

.cardHand:hover {
    background-color: whitesmoke;
    border: 1px solid black;
    cursor: pointer;
}