<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=sec, initial-scale=1.0">
    <title>Walk Shoes - Carrinho</title>
    <link rel="stylesheet" href="./styles.css">
    <link rel="icon" type="image/x-icon" href="../../../assets/favicon.ico">
</head>

<body>
    <header>
        <nav>
            <a href="#"><img src="../../../assets/logo.png" alt="Walk Logo" class="logo"></a>
            <ul class="nav-list">
                <li><a href="#">Home</a></li>
                <li><a href="#">Minha conta</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Favoritos</h1>
        <div class="content">
            <div class="favLabel">
                <div>Pesquisar</div>
                <div>Ordenar</div>
            </div>

            <div class="productLabel">
                <div style="display: flex; flex-direction: column-reverse; align-items: center;">
                    <input type="checkbox" name="select-all">
                    <label for="select-all">Todos</label>
                </div>
                <button disabled>Excluir</button>
            </div>

            <div class="productItem f1">
                <div style="margin-inline: 8px; align-items: center;">
                    <input type="checkbox">
                </div>

                <div class="productContentInfo">
                    <div class="productContent">
                        <img src="../../../assets/nike-dunk.png" alt="">
                    </div>

                    <div class="productInfo">
                        <span style="text-transform: uppercase">nike dunk low green - 38</span>
                        
                        <div class="side middle-h">
                            <span>Preço</span>
                            <div class="productPrice">
                                <img src="../../../assets/real-icon.png" alt="">
                                <span>1,299,99</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="productItem f1">
                <div style="margin-inline: 8px; align-items: center;">
                    <input type="checkbox">
                </div>

                <div class="productContentInfo">
                    <div class="productContent">
                        <img src="../../../assets/nike-dunk.png" alt="">
                    </div>

                    <div class="productInfo">
                        <span style="text-transform: uppercase">nike dunk low green - 38</span>
                        
                        <div class="side middle-h">
                            <span>Preço</span>
                            <div class="productPrice">
                                <img src="../../../assets/real-icon.png" alt="">
                                <span>1,299,99</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <footer>
        <h1>Todos os Direitos Reservados ao Grupo 1 - PSW</h1>
    </footer>
</body>

</html>