.card{
  border: 1px solid #6666;
  border-radius: 15px;
}

.product {
  width: 100%;
}

.content {
  margin: 13px 0 0 8px;
  display: flex;
  flex-direction: column;
}

.titlehome {
  font-size: 14px;
  margin: 0;
}

.type {
  font-family: unset;
  font-size: 11px;
  margin: 0;
}

@media (min-width: 768px) {

  .title {
    font-size: 15px;
  }

  .type {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  .content {
    margin: 25px 0 0 8px;
  }

  .titlehome {
    font-size: 20px;
  }

  .type {
    font-size: 18px;
  }
}

@media (min-width: 1440px) {
  .card {
    width: 333px;
  }
}