@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a {
    font-weight: bold;
    color: #f24f00;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    border-bottom: 3px solid #ddd;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 2px;
    margin-left: 32px;
}

main {
    padding: 50px;
    height: 80vh;
}

main h1 {
    border-bottom: 3px solid #ddd;
}

main img {
    height: 80px;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    margin-top: 20px;
    border-bottom: 3px solid #ddd;
}

.content span {
    font-weight: bold;
}

.productContent {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-transform: uppercase;
    margin-top: 20px;
}

.productPrice {
    text-transform: uppercase;
    margin-top: 20px;
}

.productQtt {
    text-transform: uppercase;
    margin-top: 20px;
}

.qualityBadge p {
    position: absolute;
    width: 2fr;
    font-style: italic;
    font-size: 10px;
}

.confirm {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.myButton {
    background-color: #f24f00;
    border-radius: 10px;
    border: 1px solid #d02718;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px;
    padding: 12px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
}

.myButton:hover {
    text-decoration: underline;
}

.myButton:active {
    position: relative;
    top: 1px;
}



footer {
    font-size: 8px;
    border-top: 3px solid #ddd;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    color: #ffffff;
    background: #000;
}