.info {
  padding: 0 10px 10px 10px;
  border: 1px solid #6666;
}

.info_title {
  display: flex;
  margin: 12px 0 10px 0;
  font-family: system-ui;
  font-weight: 200;
  font-size: 25px;
}

.info_subtitle {
  margin: 0 0 4px 0;
  font-size: 16px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.info_img {
  display: flex;
  gap: 6px;
  margin-bottom: 8px;
  grid-area: img;
}

.info_categoria {
  margin-bottom: 8px;
  grid-area: cat;
}

.info_tamanho {
  margin-bottom: 8px;
  grid-area: tam;
}

label {
  font-family: system-ui;
  font-size: 15px;
}

.info_value {
  display: flex;
  flex-direction: column;
  grid-area: value;
}

@media (min-width: 768px) {
  .info_form {
    display: grid;
    grid-template-areas:
      "img cat"
      "tam value";
  }

  .info_value {
    justify-content: center;
  }
  .info_img {
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .info_title {
    font-size: 27px;
  }

  .info_subtitle {
    font-size: 18px;
  }

  label {
    font-family: system-ui;
    font-size: 17px;
  }
}
