@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    font-size: 62.5%;
}

a {
    font-weight: bold;
    color: #f24f00;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 12vh;
    border-bottom: 2px solid #ddd;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 2px;
    margin-left: 1.6rem;
    font-size: 1.8rem;
}

main {
    padding: 30px;
    min-height: 80vh;
}

main h1 {
    border-bottom: 2px solid #ddd;
    font-size: 1.6rem;
}

main img {
    height: 80px;
}

.content {
    margin-top: 6px;
}

.content span {
    font-weight: bold;
    font-size: 1.6rem;
}

.productContent {
    padding: 10px;
}

.favLabel {
    background-color: #000;
    font-weight: 400;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.productLabel {
    display: flex;
    justify-content: space-between;

    margin-top: 10px;
    margin-bottom: 10px;
}

.productContent img {
    height: 70px;
    border: 2px solid #000;
    margin-right: 10px;
}

.productItem {
    display: flex;
    align-items: center;

    border-bottom: 2px solid #ddd;
}

.productContentInfo {
    display: flex;
    align-items: center;
    width: 100%;
    
    margin-top: 20px;
}

.productInfo {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.productPrice {
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.productPrice img {
    height: 20px;
    margin-left: 6px;
    margin-right: 6px;
}

.productQtt {
    text-transform: uppercase;
}

.productQtt img {
    height: 12px;
    margin-left: 6px;
    margin-right: 6px;
}

.qualityBadge p {
    position: absolute;
    width: 2fr;
    font-style: italic;
    font-size: 1.0rem;
}

.generalContent {
    margin-top: 30px;
}

.subtotal {
    padding: 6px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    font-size: 1.4rem;
}

.delivery {
    padding: 6px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.allProductPrice {
    padding: 6px;
    font-size: 3.0rem;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
    display: flex;
    justify-content: space-between;
}

.confirm {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.myButton {
    background-color: #f24f00;
    border-radius: 10px;
    border: 1px solid #d02718;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.4rem;
    padding: 6px 14px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
}

.side {
    display: flex;
    flex-direction: row;
}
.middle-h {
    align-content: center;
}

.f1 {
    font-size: 14px;
}

.myButton:active {
    position: relative;
    top: 1px;
}

@media (max-width: 375px) {
    html {
        font-size: 30%;
    }

    .myButton {
        font-size: 90%;
    }

    footer {
        font-size: 60%;
    }

}

@media (max-width: 425px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 60%;
    }
}