@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");

h2 {
  margin: 15px 0 0 10px;
}

.div-pagamento{
  display: flex;
  min-height: 80vh;
  flex-direction: column;
}

.div-etapa-pessoal {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0 2px 10px;
}

.div-etapa-entrega {
  font-size: 20px;
  font-weight: bold;
  margin: 30px 0 2px 10px;
}

.div-etapa-pagamento {
  font-size: 20px;
  font-weight: bold;
  margin: 30px 0 8px 10px;
}

.dados {
  font-size: 18px;
  flex-direction: column;
  margin-left: 10px;
  border-radius: 10px;
}

.dados label {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  font-weight: bold;
  display: flex;
}

.dados input {
  border: solid #999;
  border-width: 1px;
  color: #444;
  border-radius: 3px;
  height: auto;
  padding: 6px;
  flex-direction: column;
  display: flex;
  margin-top: 10px;
}

.pagamento {
  margin-left: 10px;
}

.boleto {
  border: solid #999;
  border-width: 1px;
  color: #444;
  border-radius: 3px;
  height: auto;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  padding: 10px 14px 10px 10px;
  font-weight: bold;
  display: flex;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

.pix {
  border: solid #999;
  border-width: 1px;
  color: #444;
  border-radius: 3px;
  height: auto;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  padding: 10px 95px 10px 10px;
  font-weight: bold;
  display: flex;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

.cartao {
  border: solid #999;
  border-width: 1px;
  color: #444;
  border-radius: 3px;
  height: auto;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  padding: 10px 5px 10px 10px;
  font-weight: bold;
  display: flex;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

.dados-cartao {
  flex-direction: column;
  display: flex;
  border-radius: 10px;
}

.dados-cartao label {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  font-weight: bold;
  display: flex;
}

.dados-cartao input {
  border: solid #999;
  border-width: 1px;
  width: 265px;
  color: #444;
  border-radius: 3px;
  height: auto;
  padding: 4px;
  display: flex;
}

.parcela {
  border: solid #999;
  border-width: 1px;
  width: 265px;
  color: #444;
  border-radius: 3px;
  height: auto;
  padding: 4px;
  margin-top: 10px;
  font-size: 14px;
}

.generalContent {
  margin-top: 30px;
}

.subtotal {
  padding: 6px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.delivery {
  padding: 6px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.allProductPrice {
  padding: 6px;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
  display: flex;
  justify-content: space-between;
}

.finalizar-compra {
  margin-top: 0.6em;
  display: flex;
  padding: 15px;
  text-align: center;
  justify-content: center;
}

.btn-finalizar {
  padding: 10px;
  background-color: #f24f00;
  border: solid rgb(0, 0, 0);
  border-width: 1px;
  color: rgb(0, 0, 0);
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
}

.btn-proxima {
  padding: 10px;
  background-color: #30c54e;
  border: solid rgb(0, 0, 0);
  border-width: 1px;
  color: rgb(0, 0, 0);
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 25px;
  padding-right: 26.5px;
}

/* @media (max-width: 1600px) {
  * {
    font-size: 16px;
  }
} */

/* @media (max-width: 415px) {
  .pix {
    padding-left: 18px;
  }
} */
